a,
body,
code,
div,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
img,
p,
span,
strong,
u {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

body {
    line-height: 1
}

html {
    scrollbar-color: #313543 rgba(0, 0, 0, .1)
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px
}

::-webkit-scrollbar-thumb {
    background: #313543;
    border: 0 #fff;
    border-radius: 50px
}

::-webkit-scrollbar-thumb:hover {
    background: #353a49
}

::-webkit-scrollbar-thumb:active {
    background: #313543
}

::-webkit-scrollbar-track {
    border: 0 #fff;
    border-radius: 0;
    background: rgba(0, 0, 0, .1)
}

::-webkit-scrollbar-track:active,
::-webkit-scrollbar-track:hover {
    background: #282c37
}

::-webkit-scrollbar-corner {
    background: 0 0
}

body {
    font-family: sans-serif;
    background: #191b22;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #fff;
    text-rendering: optimizelegibility;
    font-feature-settings: "kern";
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-tap-highlight-color: transparent
}

button {
    font-family: inherit;
    cursor: pointer
}

button:focus {
    outline: 0
}

.container-alt {
    width: 700px;
    margin: 0 auto
}

@media screen and (max-width:740px) {
    .container-alt {
        width: 100%;
        margin: 0
    }
}

code {
    font-family: monospace;
    font-weight: 400
}

.form-container {
    max-width: 400px;
    padding: 20px;
    margin: 0 auto
}

.simple_form.hidden {
    display: none
}

.simple_form .input {
    margin-bottom: 15px;
    overflow: hidden
}

.simple_form .input.hidden {
    margin: 0
}

.simple_form .hint {
    color: #9baec8
}

.simple_form .hint a {
    color: #2b90d9
}

.simple_form .hint code {
    border-radius: 3px;
    padding: .2em .4em;
    background: #0e1014
}

.simple_form span.hint {
    display: block;
    font-size: 12px;
    margin-top: 4px
}

.simple_form p.hint {
    margin-bottom: 15px;
    color: #9baec8
}

.simple_form p.hint.subtle-hint {
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    margin-top: 15px;
    margin-bottom: 0
}

.simple_form .card {
    margin-bottom: 15px
}

.simple_form strong {
    font-weight: 500
}

.simple_form strong:lang(ja),
.simple_form strong:lang(ko),
.simple_form strong:lang(zh-CN),
.simple_form strong:lang(zh-HK),
.simple_form strong:lang(zh-TW) {
    font-weight: 700
}

.simple_form input[type=email],
.simple_form input[type=number],
.simple_form input[type=password],
.simple_form input[type=text],
.simple_form input[type=url] {
    box-sizing: border-box;
    font-size: 16px;
    color: #fff;
    display: block;
    width: 100%;
    outline: 0;
    font-family: inherit;
    resize: vertical;
    background: #131419;
    border: 1px solid #0a0b0e;
    border-radius: 4px;
    padding: 10px
}

.simple_form input[type=email]::-moz-placeholder,
.simple_form input[type=number]::-moz-placeholder,
.simple_form input[type=password]::-moz-placeholder,
.simple_form input[type=text]::-moz-placeholder,
.simple_form input[type=url]::-moz-placeholder {
    color: #a8b9cf
}

.simple_form input[type=email]::placeholder,
.simple_form input[type=number]::placeholder,
.simple_form input[type=password]::placeholder,
.simple_form input[type=text]::placeholder,
.simple_form input[type=url]::placeholder {
    color: #a8b9cf
}

.simple_form input[type=email]:invalid,
.simple_form input[type=number]:invalid,
.simple_form input[type=password]:invalid,
.simple_form input[type=text]:invalid,
.simple_form input[type=url]:invalid {
    box-shadow: none
}

.simple_form input[type=email]:required:valid,
.simple_form input[type=number]:required:valid,
.simple_form input[type=password]:required:valid,
.simple_form input[type=text]:required:valid,
.simple_form input[type=url]:required:valid {
    border-color: #79bd9a
}

.simple_form input[type=email]:hover,
.simple_form input[type=number]:hover,
.simple_form input[type=password]:hover,
.simple_form input[type=text]:hover,
.simple_form input[type=url]:hover {
    border-color: #000
}

.simple_form input[type=email]:active,
.simple_form input[type=email]:focus,
.simple_form input[type=number]:active,
.simple_form input[type=number]:focus,
.simple_form input[type=password]:active,
.simple_form input[type=password]:focus,
.simple_form input[type=text]:active,
.simple_form input[type=text]:focus,
.simple_form input[type=url]:active,
.simple_form input[type=url]:focus {
    border-color: #2b90d9;
    background: #17191f
}

.simple_form input[type=email]:focus:invalid:not(:-moz-placeholder-shown),
.simple_form input[type=email]:required:invalid:not(:-moz-placeholder-shown),
.simple_form input[type=number]:focus:invalid:not(:-moz-placeholder-shown),
.simple_form input[type=number]:required:invalid:not(:-moz-placeholder-shown),
.simple_form input[type=password]:focus:invalid:not(:-moz-placeholder-shown),
.simple_form input[type=password]:required:invalid:not(:-moz-placeholder-shown),
.simple_form input[type=text]:focus:invalid:not(:-moz-placeholder-shown),
.simple_form input[type=text]:required:invalid:not(:-moz-placeholder-shown) {
    border-color: #e87487
}

.simple_form input[type=email]:focus:invalid:not(:placeholder-shown),
.simple_form input[type=email]:required:invalid:not(:placeholder-shown),
.simple_form input[type=number]:focus:invalid:not(:placeholder-shown),
.simple_form input[type=number]:required:invalid:not(:placeholder-shown),
.simple_form input[type=password]:focus:invalid:not(:placeholder-shown),
.simple_form input[type=password]:required:invalid:not(:placeholder-shown),
.simple_form input[type=text]:focus:invalid:not(:placeholder-shown),
.simple_form input[type=text]:required:invalid:not(:placeholder-shown) {
    border-color: #e87487
}

.simple_form .actions {
    margin-top: 30px;
    display: flex
}

.simple_form .button,
.simple_form button {
    display: block;
    width: 100%;
    border: 0;
    border-radius: 4px;
    background: #2b90d9;
    color: #fff;
    font-size: 18px;
    line-height: inherit;
    height: auto;
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: 500;
    outline: 0;
    margin-bottom: 10px;
    margin-right: 10px
}

.simple_form .button:last-child,
.simple_form button:last-child {
    margin-right: 0
}

.simple_form .button:hover,
.simple_form button:hover {
    background-color: #419bdd
}

.simple_form .button:active,
.simple_form .button:focus,
.simple_form button:active,
.simple_form button:focus {
    background-color: #2482c7
}

.simple_form .button:disabled:hover,
.simple_form button:disabled:hover {
    background-color: #9baec8
}

.simple_form h4 {
    margin-bottom: 15px !important
}

.follow-prompt {
    margin-bottom: 30px;
    color: #9baec8
}

.follow-prompt h2 {
    font-size: 16px;
    margin-bottom: 30px;
    text-align: center
}

.follow-prompt strong {
    color: #d9e1e8;
    font-weight: 500
}

.follow-prompt strong:lang(ja),
.follow-prompt strong:lang(ko),
.follow-prompt strong:lang(zh-CN),
.follow-prompt strong:lang(zh-HK),
.follow-prompt strong:lang(zh-TW) {
    font-weight: 700
}

.post-follow-actions {
    text-align: center;
    color: #9baec8
}

.post-follow-actions div {
    margin-bottom: 4px
}

.card>a {
    display: block;
    text-decoration: none;
    color: inherit;
    box-shadow: 0 0 15px rgba(0, 0, 0, .2)
}

@media screen and (max-width:415px) {
    .card>a {
        box-shadow: none
    }
}

.card>a:active .card__bar,
.card>a:focus .card__bar,
.card>a:hover .card__bar {
    background: #393f4f
}

.card__img {
    height: 130px;
    position: relative;
    background: #0e1014;
    border-radius: 4px 4px 0 0
}

.card__img img {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    -o-object-fit: cover;
    font-family: "object-fit:cover";
    object-fit: cover;
    border-radius: 4px 4px 0 0
}

@media screen and (max-width:600px) {
    .card__img {
        height: 200px
    }
}

@media screen and (max-width:415px) {
    .card__img {
        display: none
    }
}

.card__bar {
    position: relative;
    padding: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #313543;
    border-radius: 0 0 4px 4px
}

@media screen and (max-width:415px) {
    .card__bar {
        border-radius: 0
    }
}

.card__bar .avatar {
    flex: 0 0 auto;
    width: 48px;
    height: 48px;
    padding-top: 2px
}

.card__bar .avatar img {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
    border-radius: 4px;
    background: #17191f;
    -o-object-fit: cover;
    font-family: "object-fit:cover";
    object-fit: cover
}

.card__bar .display-name {
    margin-left: 15px;
    text-align: left
}

.card__bar .display-name i[data-hidden] {
    display: none
}

.card__bar .display-name strong {
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis
}

.card__bar .display-name span {
    display: block;
    font-size: 14px;
    color: #9baec8;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis
}

.link-button {
    display: block;
    font-size: 15px;
    line-height: 20px;
    color: #2b90d9;
    border: 0;
    background: 0 0;
    padding: 0;
    cursor: pointer
}

.link-button:active,
.link-button:hover {
    text-decoration: underline
}

.link-button:disabled {
    color: #9baec8;
    cursor: default
}

.button {
    background-color: #2b90d9;
    border: 10px;
    border-radius: 4px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 22px;
    overflow: hidden;
    padding: 7px 18px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all .1s ease-in;
    white-space: nowrap;
    width: auto
}

.button:active,
.button:focus,
.button:hover {
    background-color: #56a7e1;
    transition: all .2s ease-out
}

.button:disabled {
    background-color: #9baec8;
    cursor: default
}

.button::-moz-focus-inner {
    border: 0
}

.button::-moz-focus-inner,
.button:active,
.button:focus {
    outline: 0 !important
}

@supports (-ms-overflow-style:-ms-autohiding-scrollbar) {
    .status {
        padding-right: 26px
    }
}

@-webkit-keyframes fade {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.domain {
    padding: 10px;
    border-bottom: 1px solid #393f4f
}

.domain .domain__domain-name {
    flex: 1 1 auto;
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500
}

.account {
    padding: 10px;
    border-bottom: 1px solid #393f4f
}

.account .account__display-name {
    flex: 1 1 auto;
    display: block;
    color: #9baec8;
    overflow: hidden;
    text-decoration: none;
    font-size: 14px
}

.account__avatar {
    border-radius: 4px;
    background: transparent no-repeat;
    background-position: 50%;
    background-clip: padding-box;
    display: block;
    position: relative;
    width: 36px;
    height: 36px;
    background-size: 36px 36px
}

a .account__avatar {
    cursor: pointer
}

.account__action-bar {
    border-top: 1px solid #393f4f;
    border-bottom: 1px solid #393f4f;
    line-height: 36px;
    overflow: hidden;
    flex: 0 0 auto;
    display: flex
}

.account__display-name {
    text-decoration: none
}

.account__display-name strong {
    color: #fff
}

a.account__display-name:hover strong {
    text-decoration: underline
}

.account__display-name strong {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis
}

.display-name {
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.display-name__html {
    font-weight: 500
}

.display-name__account {
    font-size: 14px
}

@supports (display:grid) {
    .columns-area--mobile .scrollable {
        contain: content
    }
}

@supports (display:grid) {
    .scrollable {
        contain: strict
    }
}

@supports (display:grid) {
    .scrollable.fullscreen {
        contain: none
    }
}

.text-btn {
    display: inline-block;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    border: 0;
    background: 0 0;
    cursor: pointer
}

@-webkit-keyframes circular-progress {
    0% {
        stroke-dasharray: 1px, 200px;
        stroke-dashoffset: 0
    }

    50% {
        stroke-dasharray: 100px, 200px;
        stroke-dashoffset: -15px
    }

    to {
        stroke-dasharray: 100px, 200px;
        stroke-dashoffset: -125px
    }
}

@keyframes circular-progress {
    0% {
        stroke-dasharray: 1px, 200px;
        stroke-dashoffset: 0
    }

    50% {
        stroke-dasharray: 100px, 200px;
        stroke-dashoffset: -15px
    }

    to {
        stroke-dasharray: 100px, 200px;
        stroke-dashoffset: -125px
    }
}

@-webkit-keyframes simple-rotate {
    0% {
        transform: rotate(0)
    }

    to {
        transform: rotate(1turn)
    }
}

@keyframes simple-rotate {
    0% {
        transform: rotate(0)
    }

    to {
        transform: rotate(1turn)
    }
}

@-webkit-keyframes spring-rotate-in {
    0% {
        transform: rotate(0)
    }

    30% {
        transform: rotate(-484.8deg)
    }

    60% {
        transform: rotate(-316.7deg)
    }

    90% {
        transform: rotate(-375deg)
    }

    to {
        transform: rotate(-1turn)
    }
}

@keyframes spring-rotate-in {
    0% {
        transform: rotate(0)
    }

    30% {
        transform: rotate(-484.8deg)
    }

    60% {
        transform: rotate(-316.7deg)
    }

    90% {
        transform: rotate(-375deg)
    }

    to {
        transform: rotate(-1turn)
    }
}

@-webkit-keyframes spring-rotate-out {
    0% {
        transform: rotate(-1turn)
    }

    30% {
        transform: rotate(124.8deg)
    }

    60% {
        transform: rotate(-43.27deg)
    }

    90% {
        transform: rotate(15deg)
    }

    to {
        transform: rotate(0)
    }
}

@keyframes spring-rotate-out {
    0% {
        transform: rotate(-1turn)
    }

    30% {
        transform: rotate(124.8deg)
    }

    60% {
        transform: rotate(-43.27deg)
    }

    90% {
        transform: rotate(15deg)
    }

    to {
        transform: rotate(0)
    }
}

@supports (display:grid) {

    .empty-column-indicator,
    .error-column,
    .follow_requests-unlocked_explanation {
        contain: strict
    }
}

@-webkit-keyframes heartbeat {
    0% {
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }

    10% {
        transform: scale(.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    17% {
        transform: scale(.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }

    33% {
        transform: scale(.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    45% {
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }

    10% {
        transform: scale(.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    17% {
        transform: scale(.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }

    33% {
        transform: scale(.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    45% {
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }
}

@-webkit-keyframes shake-bottom {

    0%,
    to {
        transform: rotate(0);
        transform-origin: 50% 100%
    }

    10% {
        transform: rotate(2deg)
    }

    20%,
    40%,
    60% {
        transform: rotate(-4deg)
    }

    30%,
    50%,
    70% {
        transform: rotate(4deg)
    }

    80% {
        transform: rotate(-2deg)
    }

    90% {
        transform: rotate(2deg)
    }
}

@keyframes shake-bottom {

    0%,
    to {
        transform: rotate(0);
        transform-origin: 50% 100%
    }

    10% {
        transform: rotate(2deg)
    }

    20%,
    40%,
    60% {
        transform: rotate(-4deg)
    }

    30%,
    50%,
    70% {
        transform: rotate(4deg)
    }

    80% {
        transform: rotate(-2deg)
    }

    90% {
        transform: rotate(2deg)
    }
}

.media-modal {
    width: 100%;
    height: 100%;
    position: relative
}

.actions-modal {
    background: #f2f5f7;
    color: #282c37;
    border-radius: 8px;
    overflow: hidden;
    max-width: 90vw;
    width: 480px;
    position: relative;
    flex-direction: column
}

.actions-modal {
    max-height: 80vh;
    max-width: 80vw
}

::-webkit-scrollbar-thumb {
    border-radius: 0
}

@-webkit-keyframes flicker {
    0% {
        opacity: 1
    }

    30% {
        opacity: .75
    }

    to {
        opacity: 1
    }
}

@keyframes flicker {
    0% {
        opacity: 1
    }

    30% {
        opacity: .75
    }

    to {
        opacity: 1
    }
}

.modal-layout {
    background: #282c37 url(data:image/svg+xml;utf8,SVG_REPLACED) repeat-x bottom fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0
}

.modal-layout__mastodon {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end
}

.modal-layout__mastodon>div {
    flex: 1;
    max-height: 235px;
    position: relative
}

.modal-layout__mastodon>div img {
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0
}

.container {
    box-sizing: border-box;
    max-width: 1235px;
    margin: 0 auto;
    position: relative
}

@media screen and (max-width:1255px) {
    .container {
        width: 100%;
        padding: 0 10px
    }
}

.simple_form .actions {
    margin-top: 15px
}

.simple_form .button {
    font-size: 15px
}

@-webkit-keyframes skeleton {
    0% {
        background-position: -200px 0
    }

    to {
        background-position: calc(200px + 100%) 0
    }
}

@keyframes skeleton {
    0% {
        background-position: -200px 0
    }

    to {
        background-position: calc(200px + 100%) 0
    }
}

.account-card {
    background: #282c37;
    border-radius: 4px
}

.account-card__actions {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.account-card__actions__button {
    flex-shrink: 1;
    padding: 0 15px;
    overflow: hidden
}

.account-card__actions__button .button {
    min-width: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%
}